[Match]
Name=usb0
[Address]
Address=169.254.0.17/16
[Network]
LinkLocalAddressing=no
IPv6AcceptRA=no
DHCP=no
ConfigureWithoutCarrier=yes
DuplicateAddressDetection=none
